html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.928em;
	color: #9882A5;
	width: auto;
}

body {
	background-color: #EDEFF9;
	width: auto;
}

section {
	margin: 1.07em;
}
.header-beg {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2.571em;
	width: auto;
}

div.blog-title {
	text-align: center;
	font-size: 1.75em;
	font-family: Century Gothic, sans-serif;
	font-style: italic
		width: auto;
}

.blog-title-bold {
	font-size: 1.85em;	
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	width: auto;
}

.my-background {
	font-size: 1.43em;
	font-family: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”, serif;
	width: auto;
}

#entries {
	/*text-align: center;*/
}

.myentries {
	width: auto;
	background-color: #D0D7DD;
	border-radius: 0.714em;
	margin: 1.43em;
}

.title {
	width: auto;
	font-size: 2.14em;
	font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
	font-weight: bold;
}



.entry {
	background-color: #EAF3F7;
	width: auto;
	font-size: 1.285em;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-style: oblique;
	width: auto;
}

.myContact {
	background-color: #5A6372;
	text-align: center;
	font-size: 1.43em;
	width: auto;
}

.contactText {
	color: white;
}

.contactText:hover {
	color: #6D83D6;
}

.btn {
	font-size: 1.43em;
}

.image {
	
}